// base
@import '../../sass/base';

// iconfont
@import '../../sass/modules/iconfont';

// header
@import '../../sass/layout/ui-header';
.ui-header {
  .icon-search {
    position: absolute;
    right: 45px;
    top: 0;
    @include icon-search;
  }
  .icon-filter {
    position: absolute;
    right: 10px;
    top: 0;
    @include icon-filter;
  }
}

// footer
@import '../../sass/layout/ui-footer';
.ui-footer {
  .icon-menu {
    float: left;
    @include icon-menu;
  }
  .more-wrap {
    float: right;
    .icon-more {
      @include icon-more;
    }
    .more-list {
      position: absolute;
      right: 0;
      bottom: 50px;
      display: none;
      padding: 5px 12px;
      width: 80px;
      background-color: $grayDarker;
      li {
        height: 22px;
        line-height: 22px;
        border-bottom: 1px solid #515151;
        &:last-child {
          border-bottom: 0 none;
        }
        a {
          font-size: $fontSizeSmall;
          color: $white;
        }
      }
      &:before {
        content: '';
        position: absolute;
        right: 10px;
        bottom: -10px;
        display: block;
        height: 0;
        border-top: 10px solid $grayDarker;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
  }
  .more-wrap-active {
    .icon-more {
      i {
        color: $emphatic;
      }
    }
    .more-list {
      display: block;
    }
  }
}

// tab
@import '../../sass/modules/ui-tab';
.icon-arrow {
  display: inline-block;
  margin-left: 3px;
  @include icon-arrow;
  vertical-align: middle;
}

// scroll
@import '../../sass/modules/ui-scroll';
.ui-scroll-wrapper {
  top: 86px;
  bottom: 50px;
}

// list
@import '../../sass/modules/ui-list';