.ui-radio {
  display: inline-block;
  padding: $padding-base;
  min-width: 60px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  background-color: $white;
  border: 1px solid #999;
  @include border-radius(3px);
  text-align: center;
  font-size: $font-size-base;
  color: $gray-3;
}
.ui-radio-checked {
  border-color: $active;
}
.ui-radio-disabled {
  background-color: #EEE;
  border-color: $gray-d;
  color: #CCC;
}