<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>Template: list page</title>
		<link rel="stylesheet" href="../css/cust-list.css" />
	</head>
	
	<body>
		<div class="page-wrap">
			<header class="ui-header">
				<h1>Header</h1>
				<a href="javascript:;" class="icon-back"><i></i></a>
				<a href="javascript:;" class="icon-search"><i></i></a>
				<a href="javascript:;" class="icon-filter"><i></i></a>
			</header>
			<ul class="ui-tab">
				<li class="ui-tab-item current">
					<a href="javascript:;">分发时间<i class="icon-arrow"></i></a>
				</li>
				<li class="ui-tab-item">
					<a href="javascript:;">拜访时间<i class="icon-arrow"></i></a>
				</li>
			</ul>
			<section class="ui-scroll-wrapper">
				<div class="scroller">
					<ul class="ui-list">
						<li>
							<h4>中国(china)深圳市爱可非常美服饰贸易有限公司</h4>
							<p>杭州市滨江区江南大道699号某某大厦A座5楼</p>
							<p>最后访问时间<span>2014.01.22</span></p>
						</li>
						<li>
							<h4>中国(china)深圳市爱可非常美服饰贸易有限公司</h4>
							<p>杭州市滨江区江南大道699号某某大厦A座5楼</p>
							<p>最后访问时间<span>2014.01.22</span></p>
						</li>
						<li>
							<h4>中国(china)深圳市爱可非常美服饰贸易有限公司</h4>
							<p>杭州市滨江区江南大道699号某某大厦A座5楼</p>
							<p>最后访问时间<span>2014.01.22</span></p>
						</li>
					</ul>
				</div>
			</section>
			<footer class="ui-footer ui-footer-fixed">
				<a href="javascript:;" class="icon-menu"><i></i></a>
                <div class="more-wrap">
                    <a href="javascript:;" class="icon-more"><i></i></a>
                    <ul class="more-list">
                        <li>
                            <a href="javascript:;">添加新客户</a>
                        </li>
                        <li>
                            <a href="javascript:;">短信群发</a>
                        </li>
                        <li>
                            <a href="javascript:;">旺旺群发</a>
                        </li>
                        <li>
                            <a href="javascript:;">分发客户</a>
                        </li>
                        <li>
                            <a href="javascript:;">批量开放</a>
                        </li>
                        <li>
                            <a href="javascript:;">地图模式</a>
                        </li>
                    </ul>
                </div>
			</footer>
		</div>
		
		<script src="../../js/jquery-1.7.2.min.js"></script>
		<script>
			$(document).ready(function() {
				var tab = $('.ui-tab');
				tab.delegate('li', 'click', function() {
					var li = $(this);

					li.siblings().removeClass('current').end().addClass('current');
				});
				
				var moreWrap = $('.more-wrap');
				moreWrap.delegate('.icon-more', 'click', function(event) {
					var icon = $(this);

					icon.parent().toggleClass('more-wrap-active');
				});
			});
		</script>
	</body>
</html>