<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>Template: search page</title>
        <link rel="stylesheet" href="../css/cust-search.css" />
    </head>

    <body>
        <div class="page-wrap">
            <header class="ui-header">
                <a class="icon-back" href="javascript:;"><i></i></a>
                <div class="ui-search-wrapper">
                    <form class="ui-search-form">
                        <div class="ui-search-txt">
                            <label class="icon-search-lbl"><i></i></label>
                            <input type="text" />
                            <a class="icon-empty" href="javascript:;"><i></i></a>
                        </div>
                        <input type="button" value="搜索" />
                    </form>
                    <ul class="ui-suggest-list">
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                    </ul>
                </div>
            </header>

            <section class="content">
                <div class="condition">
                    <h3>常用搜索条件</h3>
                    <div class="con-bd">
                        <a class="ui-radio" href="">全部客户</a>
                        <a class="ui-radio" href="">一周内新客户</a>
                        <a class="ui-radio" href="">全部客户</a>
                        <a class="ui-radio" href="">一周内待强开客户</a>
                    </div>
                </div>
                <div class="condition">
                    <h3>常用搜索条件</h3>
                    <ul class="ui-search-history">
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                        <li>
                            <a href="">杭州abc有限公司</a>
                        </li>
                    </ul>
                    <p>
                        <a class="button-empty" href="javascript:;">清除搜索历史</a>
                    </p>
                </div>
            </section>
        </div>
    </body>
</html>