@charset "UTF-8";
@import '../function';
//-----------------------------------------------------
// ui-header component
//-----------------------------------------------------
// header部分，默认高度为44px
$baseHeaderHight: 44px;

.ui-header {
  position: relative;
  width: 100%;
  height: $baseHeaderHight;
  background-color: $baseBgColor;
  border-bottom: $borderDark;
  text-align: center;
  h1 {
    line-height: $baseHeaderHight;
    font-size: $fontSizeLarger;
  }
  // 返回按钮，默认固定在头部左侧
  .icon-back {
    position: absolute;
    left: 0;
    top: 0;
    @include icon-back;
  }
  // 固定头部时，增加ui-header-fixed这个class即可
  &-fixed {
    position: absolute;
    left: 0;
    top: 0;
    z-index: $zindexFixedTopbar;
  }
}