body {
  padding-top: 90px;
  color: #333;
}
ul, li {
  list-style: none;
  box-sizing: content-box;
}
.nav {
  margin-left: 30px;
}
.masthead {
  text-align: center;
}
.subhead {
  padding: 0!important;
  background-color: #FFF;
  h1 {
    font-size: 54px;
  }
}
.row {
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.example {
  position: relative;
}
.ui-tab, .ui-accordion-list {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  li {
    box-sizing: content-box;
  }
}
.ui-list {
  margin: 0;
  padding: 0;
  h4, p {
    margin: 0;
  }
}
.scrollDemo {
  height: 500px;
  background-color: #F3F3F3;
  .ui-scroll-wrapper {
    top: 45px;
    bottom: 50px;
  }
}
.formDemo {
  .ui-form-item {
    box-sizing: content-box;
    .ui-form-txt {
      box-sizing: content-box;
    }
  }
}
.ui-scroll-wrapper {
  p {
    padding: 0 12px;
  }
}

.row pre{
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  border: 1px solid #ccc;
}
.page-header small{
  margin-left: 10px;
}
.base-css {
  .grid-item:nth-child(odd){
    background: #FC5558;
  }
  .grid-item:nth-child(even){
    background: #FD999B;
  }
}
.com-css{
  .page-header{
    margin-top: 0;
    h2{
      padding-top: 80px;
      &.first{
        padding-top: 20px;
      }
    }
  } 
  .ui-scroll-wrapper{
      height: 200px;
      overflow-y: scroll;
  }
  .ui-modal{
    display: block;
  }
}
.com-list{
  position: fixed;
  top: 50px;
  z-index: 1030;
  width: 100%;
  left: 0;
  background: #eee;
  border-bottom: 1px solid #ddd;
  li{
    float: left;
    a{
      display: block;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      border-right: 1px solid #e1e1e1;
    }
    &:hover{
      background: #ddd;
    }
    &:last-child a{
      border-right: 0;
    }
  }
} 

.get-start h2{
  background: #ccc;
  padding: 10px 5px;
}
@media screen and (max-width: 1199px){
    body.com-body{
      padding-top: 120px;
    }
}
@media only screen and (max-device-width: 768px){
  body.com-body{
      padding-top: 210px;
  }
}