.ui-switch {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: relative;
	z-index: 0;
	margin-top: 6px;
	width: 50px;
	height: 28px;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	border-radius: 28px
}
.ui-switch i {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	left: -2px;
	top: -1px;
	z-index: 5;
	display: block;
	width: 28px;
	height: 28px;
	overflow: hidden;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear
}
.ui-switch-active {
	background-color: #4dd963;
	border-color: #4dd963
}
.ui-switch-active i {
	left: auto;
	right: -1px;
	border-color: #FFF
}