.ui-upload h3 {
    padding: 0 12px;
    padding-top: 22px;
    min-height: 26px;
    line-height: 22px;
    overflow: hidden;
    background-color: #efeff4;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #999
}
.ui-upload h3 span {
    font-size: 12px;
    color: #f60
}
.ui-upload .ui-upload-list {
    padding: 4px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: left;
    line-height: 0;
    font-size: 0
}
.ui-upload .ui-upload-list .ui-upload-item {
    display: inline-block;
    margin: 4px;
    overflow: hidden;
    text-align: center
}
.ui-upload .ui-upload-list .ui-upload-item .ui-upload-img {
    display: block;
    width: 68px;
    height: 68px;
    overflow: hidden;
    border: 1px solid #ddd
}
.ui-upload .ui-upload-list .ui-upload-item .ui-upload-img img {
    display: block;
    width: 100%;
    height: 100%
}
.ui-upload .ui-upload-list .ui-upload-item p {
    max-width: 70px;
    line-height: 18px;
    overflow: hidden;
    font-size: 12px;
    color: #f33
}
.ui-upload .ui-upload-list .ui-upload-item .ui-upload-done {
    color: #666
}
.ui-upload .ui-upload-list .ui-upload-item-plus {
    width: 68px;
    height: 68px;
    background-color: #fff;
    border: 1px solid #ddd;
    vertical-align: top
}
.ui-upload .ui-upload-list .ui-upload-item-plus i {
    display: block;
    padding-top: 34px;
    font-family: "iconfont" !important;
    font-size: 42px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc
}
.ui-upload .ui-upload-list .ui-upload-item-plus i:before {
    content: "\e605"
}