/*************************************************
 * common base variable
 *************************************************/
// color
$black: #000 !default;
$white: #fff !default;
$stable: #f8f8f8 !default;
$active: #1996e6 !default;
$arrestive: #ff3333 !default;
$emphatic: #f60 !default;
$gray-3: #333 !default;
$gray-6: #666 !default;
$gray-9: #999 !default;
$gray-c: #ccc !default;
$gray-d: #ddd !default;
$gray-e: #eee !default;

//background
$background-color-default: #efeff4 !default;
$background-color-modal: rgba(0, 0 ,0 , 0.4) !default;
$background-color-header: $stable !default;
$background-color-footer: $stable !default; 
$background-color-feedback: rgba(0, 0 ,0 , 0.5) !default;
$background-color-disabled: $gray-e !default;

//border
$border-base: 1px solid $gray-d !default;
$border-dark: 1px solid $gray-c !default;

//padding
$padding-base: 0 12px !default;

// font-size
$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-middle: 16px;
$font-size-large: 18px;