/****************************************
 * ui-footer component
 ****************************************/
.ui-footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: $background-color-default;
  text-align: center;
  .ui-footer-inner {
    padding: $padding-base;
    padding-top: 5px;
  }
  &.fixed-layout {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
  }
}