/*************************************
 * base mixin
 *************************************/
@mixin border-radius($radius: 0) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin box-sizing($sizing:border-box){
    -webkit-box-sizing:$sizing;
    box-sizing:$sizing;
}

@mixin display-box() {
    display:-webkit-box;
    display:box;
}

@mixin box-orient($orient: horizontal) {
    -webkit-box-orient:$orient;
    box-orient:$orient;
}

@mixin box-align($align: center) {
    -webkit-box-align:$align;
    box-align:$align;
}

@mixin box-pack($align: center) {
    -webkit-box-pack:$align;
    box-pack:$align;
}

@mixin box-flex($scale) {
    -webkit-box-flex:$scale;
    box-flex:$scale;
}

@mixin transform($value) {
    -webkit-transform:$value;
    transform:$value;
}

@mixin transition($value) {
    -webkit-transition: $value;
    transition: $value;
}

@mixin animation($value) {
  -webkit-animation: $value;
  animation: $value;
}

@mixin triangle($size, $color, $direction) {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: $size/2;
  vertical-align: middle;
  @if ($direction == top) {
    border-bottom-color: $color;
    border-top-width: 0;
  } @else if ($direction == right) {
    border-left-color: $color;
  } @else if ($direction == bottom) {
    border-top-color: $color;
    border-bottom-width: 0;
  } @else if ($direction == left) {
    border-right-color: $color;
  }
}
