@charset "UTF-8";
@import '../function';
//-----------------------------------------------------
// ui-radio component
//-----------------------------------------------------
.ui-radio {
  display: inline-block;
  padding: $basePadding;
  min-width: 60px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  background-color: $white;
  border: $baseBorder;
  @include border-radius($smallRadius);
  text-align: center;
  font-size: $baseFontSize;
  color: $grayDarker;
  &-checked {
    border-color: $active;
  }
  &-disabled {
    background-color: $grayE;
    border-color: $grayD;
    color: $gray;
  }
}