@charset "UTF-8";
@import '../function';
//-----------------------------------------------------
// ui-switch component
//-----------------------------------------------------
.ui-switch {
  @include box-sizing(content-box);
  position: relative;
  z-index: 0;
  margin-top: 6px;
  width: 50px;
  height: 28px;
  background-color: $white;
  border: 2px solid #e6e6e6;
  @include border-radius(28px);
  i {
    @include box-sizing(content-box);
    position: absolute;
    left: -2px;
    top: -1px;
    z-index: 5;
    display: block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    background-color: $white;
    border: 1px solid #e6e6e6;
    @include border-radius(50%);
    @include transition(all 0.1s linear);
  }
  &-active {
    background-color: #4dd963;
    border-color: #4dd963;
    i {
      left: auto;
      right: -1px;
      border-color: #FFF;
    }
  }
}