@charset "UTF-8";
@import '../function';
//-----------------------------------------------------
// ui-upload component
// 图片上传
//-----------------------------------------------------
$uploadItemWidth: 68px;
.ui-upload {
  h3 {
    padding: $basePadding;
    padding-top: 22px;
    min-height: 26px;
    line-height: 22px;
    overflow: hidden;
    background-color: $baseBgColor;
    border-bottom: $baseBorder;
    font-size: $baseFontSize;
    color: $grayDark9;
    span {
      font-size: $fontSizeSmall;
      color: $emphatic;
    }
  }
  .ui-upload-list {
    padding: 4px;
    background-color: $white;
    border-bottom: $borderDark;
    text-align: left;
    line-height: 0;
    font-size: 0;
    .ui-upload-item {
      display: inline-block;
      margin: 4px;
      overflow: hidden;
      text-align: center;
      .ui-upload-img {
        display: block;
        width: $uploadItemWidth;
        height: $uploadItemWidth;
        overflow: hidden;
        border: $baseBorder;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      p {
        max-width: 70px;
        line-height: 18px;
        overflow: hidden;
        font-size: $fontSizeSmall;
        color: $arrestive;
      }
      .ui-upload-done {
        color: $grayDark6;
      }
    }
    .ui-upload-item-plus {
      width: $uploadItemWidth;
      height: $uploadItemWidth;
      background-color: $white;
      border: $baseBorder;
      vertical-align: top;
      i {
        display: block;
        padding-top: 34px;
        @include iconfont(42px);
        color: $gray;
        &:before {
          content: "\e605";
        }
      }
    }
  }
}