$columns: 12;
$gutter: 2em;

%grid {
    box-sizing: border-box;
    display: inline-block;
    padding: {
        left: $gutter / 2;
        right: $gutter / 2;
    }   
}
@mixin grid($width: 1){
    @extend %grid;
    width: percentage($width);
}
@for $column from 1 through $columns {
    .grid-#{$column} {
        @include grid(1 / $column);
    }
}