/*************************************
 * global layout
 *************************************/

/* percent layout */
.grid-percent {
  @include box-sizing();
  overflow:hidden;
}
.grid-percent .grid-item {
  @include box-sizing();
  float:left;
  display:inline-block;
  width: 100%;
  text-align: center;
}

.grid-percent-2-col .grid-item{
	width: 50%;
}
.grid-percent-3-col .grid-item{
	width: 33.33333%;
}
.grid-percent-4-col .grid-item{
	width: 25%;
}
.grid-percent-5-col .grid-item{
	width: 20%;
}

/* flexbox layout */
.grid-flexbox {
    @include box-sizing();
    @include display-box();  
}
.grid-flexbox .grid-item {
    @include box-sizing();
    @include box-flex(1);
    margin-left:8px;
    text-align: center;
    min-width: 20px;
}
.grid-flexbox .grid-item:first-child {
    margin-left:0;
}
//the width of every item must be equal
.grid-flexbox-average, .grid-flexbox-average-3-col{
	@extend .grid-flexbox;
}
.grid-flexbox-average .grid-item {
	width: 100%;
}
//special deal with 3 columns
.grid-flexbox-average-3-col .grid-item {
	width: 100%;
	margin-left: 10px;
}