<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ICBU H5</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" href="assert/css/bootstrap.css" />
		<link rel="stylesheet" href="assert/css/component.css" />
		<link rel="stylesheet" href="assert/css/doc.css" />
	</head>
	
	<body>
		<!--navbar start-->
		<section class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">Home</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li>
							<a href="start.html">Get Started</a>
						</li>
						<li>
							<a href="base.html">Css Base</a>
						</li>
						<li>
							<a href="components.html">Component</a>
						</li>
						<li>
							<a href="js.html">Js Utility</a>
						</li>
					</ul>
				</nav>
			</div>
		</section>
		<!--navbar end-->
		
		<!--jumbotron start-->
		<section class="jumbotron masthead">
			<div class="container">
				<h1>CRM无线前端库</h1>
			</div>
		</section>
		<!--jumbotron start-->
		
		<!--navbar start-->
		<!--navbar start-->
		
		<!--navbar start-->
		<!--navbar start-->
		
		<!--navbar start-->
		<!--navbar start-->
	</body>
</html>